<div class="mt-4">
    <h2 class="mb-4">Create Course</h2>
    <form method="POST" action="/courses/backCourses">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="decription">Decription</label>
            <textarea type="text" class="form-control" id="decription" name="decription"></textarea>
        </div>
        <div class="form-group">
            <label for="videoId">VideoId</label>
            <input type="text" class="form-control" id="videoId" name="videoId">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>